/* General */
* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

/* Website structure */
body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  max-width: 100%;

  background-color: #021526;
}

/* Header styling */
/* Döljer hamburgermenyn för skärmar bredare än 768px */
@media (min-width: 769px) {
  .hamburger-menu {
    display: none;
  }

  /* Visa navigationslänkar igen på större skärmar */
  #header-container a {
    display: inline-block;
  }
}

header {
  position: sticky;
  top: 0;
  z-index: 5;
}

#header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 15vh;
  padding: 15px;
  background-color: #03336ee2;
  color: white;
  z-index: 5;
}

#header-container img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

#header-container a {
  text-decoration: none;
  color: white;
  transition: 0.5s;
  border: 2px solid #03346e;
  padding: 8px;
  border-radius: 25px;
}

#header-container a:hover {
  background-color: #181c14;
}

/* Main styling */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  overflow-x: hidden;
  overflow-y: hidden;
}

/* container-1 styling */


#container-1 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 100vw;
  min-height: 85vh;
  overflow: hidden; /* Prevents overflow issues */
}

#container-1 h1{
  z-index: 3;
  color: white;
}

.myVideo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the video covers the container */
  z-index: 1;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
  z-index: 2;
}

#text {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 7px;
  width: 50%;
  font-size: 1.3rem;
  z-index: 3; /* Ensures the text is above both the video and overlay */
  line-height: 1.5;
  height: 85vh;
  gap: 20px;
}

#text h1{
  letter-spacing: 35px;
  font-size: 6rem;
  color: rgb(172, 172, 172);

}

#text a{
  text-decoration: none;
  border-radius: 20px;
  background-color: #03346e;
  padding: 15px;
  color: white;
}

img {
  z-index: 3; /* Ensures the logo is above the overlay */
}





/* Container-2 styling */
#container-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 30px;
}

.container-2-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  height: auto;
  gap: 10px;
  z-index: 3;
  padding: 7px;
  transition: 0.5s;
}

@media (min-width: 769px) {
  .container-2-box:hover {
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(3.6px);
    -webkit-backdrop-filter: blur(3.6px);
    border: 1px solid rgba(255, 255, 255, 0.06);
  }

  .container-2-box:hover .container-2-box-text {
    gap: 40px;
  }

  .container-2-box-right:hover .container-2-box-text {
    gap: 40px;
  }

  .container-2-box-right:hover {
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(3.6px);
    -webkit-backdrop-filter: blur(3.6px);
    border: 1px solid rgba(255, 255, 255, 0.06);
  }
}

.container-2-box-right {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  height: auto;
  gap: 10px;
  margin-bottom: 10px;

  padding: 7px;
  transition: 0.5s;
}

.container-2-box-right img {
  width: 50%;
  height: 600px;
  border-radius: 25px;
}

.container-2-box-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ecdfcc;
  width: 50%;
  height: 80vh;
  gap: 10px;
  transition: 0.5s;
}

.container-2-box-text {
  line-height: 2;
}

.container-2-box img {
  width: 50%;
  height: 600px;
  border-radius: 25px;
}

.container-2-box h2 {
  text-align: center;
}

/* Container 3 styling */
/* Container 3 styling */
#container-3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
}

#container-3 h1 {
  background-color:#03346e;
  color: white;
  width: 100%;
  padding: 10px;
  text-align: center;
}

#container-3-boxes-tvatt {
  background-image: url(../img/interiorTvatt.jpg);

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  padding: 20px;
}

.container-3-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 27%;
  height: auto;
  max-height: 120vh;
  gap: 10px;
  

  transition: max-height 0.5s ease; /* Smooth transition for height */

  background: rgba(255, 255, 255, 0.467);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(3.6px);
  -webkit-backdrop-filter: blur(3.6px);
  border: 1px solid rgba(255, 255, 255, 0.06);

  padding: 20px;
}

#dackskift {
  text-align: center;
  padding: 20px;
  width: 100%;
  background-color: #021526;
  color: white;
}

@media (min-width: 769px) {
  .container-3-box:hover {
    background: #2579e1;
    color: white;
  }

  .container-3-box:hover button {
    background-color: #999;
  }
}

.container-3-box p {
  line-height: 2;
  font-size: 1.2rem;
}

.container-3-box img {
  width: 150px;
  height: 150px;
  border-radius: 25px;
  margin-left: auto;
  margin-right: auto;
}

.container-3-box h2 {
  text-align: center;
}

.container-3-box button {
  width: 7vh;
  height: 7vh;

  background-color: #03346e;
  color: white;
  border: none;
  border-radius: 100%;
}

@media (min-width: 769px) {
  .container-3-box button:hover {
    background-color: black;
    cursor: pointer;
  }
}

.container-3-box .extra-content {
  height: 0; /* Start collapsed */
  overflow: hidden; /* Hide overflow when collapsed */
  transition: height 0.3s ease; /* Smooth height transition */
}

.extra-content {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  line-height: 1.5;
  gap: 20px;
  height: auto;
  
}

.extra-content.expanded {
  /* Limit the expanded height */
  height: 300px;
  overflow-y: auto; /* Enable vertical scrolling for content */
}

.logos img {
  height: 100px;
  width: 100px;
}

.logos {
  display: flex;
  flex-direction: column;
}

.size-info-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.size-info {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 45%;
}

hr {
  border: 5px solid #03346e;
}

.container-3-box button {
  cursor: pointer; /* Make sure the button shows as clickable */
}

#images {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 150px;
  height: 150px;
  border-radius: 25px;
  padding: 10px;
  width: 100%;
}

/* width */
::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #03346e;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #021526;
}

#container-3-boxes-dack {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  padding: 20px;
  background-image: url("../img/dackskift.webp");

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}





/* Footer styling */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #03346e;
  padding: 20px 0;
}

#footer-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  width: 100%;
  color: white;
}

.footer-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}



.footer-section h2 {
  margin-bottom: 10px;
  text-align: center;
}

.footer-section a {
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-section a:hover {
  color: #697565;
}

.footer-section img {
  width: 40px;
  height: 40px;
  margin: 0 10px;
  transition: transform 0.3s ease;
}

.footer-section img:hover {
  transform: scale(1.1);
}

.footer-section p {
  margin: 5px 0;
  text-align: center;
}
